* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', Courier, monospace;
  background: linear-gradient(to top right, #00cffd, #fff);
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#card {
  width: 200px;
  padding: 0 10px 5px 10px;
  margin: 15px;
  text-align: center;
  background-color: azure;
  border-radius: 10px;
}

#card:hover {
  background: linear-gradient(to top left, #000, #d4edfa, #0069fd);
  color: white;
}

#image {
  width: 150px;
  height: 200px;
}

#title {
  display: flex;
  justify-content: space-around;
}

i {
  cursor: pointer;
}

button {
  margin: 5px 0 3px 0;
  cursor: pointer;
  border: 2px solid black;
  background: none;
  font: inherit;
  font-weight: bold;
  outline: inherit;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.1);
  color: rgb(var(--text-color));
  border: 2px double transparent;
  background-image: linear-gradient(#6305b0, #090916), radial-gradient(circle at left top, #f00, #fff000);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

footer {
  margin: 15px 0 15px 0;
  padding: 15px;
  border: 2px solid black;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.bar {
  height: 3px;
  width: 40px;
  margin: 5px 0 5px 0;
  border: 1px solid;
  background-color: black;
}

.bars {
  display: flex;
  flex-direction: column;
  height: 35px;
  cursor: pointer;
}

.mobile-nav-menu {
  display: flex;
  gap: 50px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mobile-menu {
  display: none;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.cancel {
  font-size: 40px;
  font-weight: 600;
  padding: 5px 5px 0 0;
  cursor: pointer;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 5px 15px;
  border: 2px solid;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav-content-li {
  display: none;
}

.brand {
  margin: 0;
  font-size: 22px;
}

.modal-top {
  display: flex;
  justify-content: space-between;
}

.pokemon-description {
  display: grid;
  grid-template-columns: auto auto;
}

.modal-container {
  display: none;
  position: fixed;
  width: 60%;
  height: 70vh;
  background-color: antiquewhite;
  padding: 20px;
}

@media (min-width: 768px) {
  .bars {
    display: none;
  }

  .nav-content-li {
    display: flex;
  }

  .mobile-nav-menu {
    display: none;
  }

  .nav-ul {
    display: flex;
    padding: 10px;
  }
}
