* {
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", Courier, monospace;
  background: linear-gradient(to top right, #00cffd, #fff);
  margin: 0;
  padding: 0;
  height: 100vh;
}

input,
textarea {
  width: 250px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

#pokemons-container {
  display: flex;

  /* display: none; */
  flex-wrap: wrap;
  justify-content: center;
}

#about {
  display: none;

  /* display: block; */
  height: 83vh;
}

#about #footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about #bio {
  font-size: 20px;
  font-weight: bold;
  padding: 30px;
  line-height: 20px;
}

#about #footer a {
  width: 50px;
  height: 50px;
  border-bottom: 1px solid black;
}

.whatsmail {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

#card {
  width: 210px;
  margin: 15px;
  text-align: center;
  background-color: azure;
  border-radius: 10px;
}

#card:hover {
  background: linear-gradient(to top left, #000, #d4edfa, #0069fd);
  transform: scale(1.1);
}

#image {
  width: 150px;
  height: 200px;
}

#content {
  padding: 10px 10px 5px 10px;
  border-radius: 0 0 10px 10px;
  background-color: #1d1f26;
  color: white;
}

#title {
  display: flex;
  justify-content: space-around;
}

i {
  cursor: pointer;
}

i:hover {
  transform: scale(1.5);
}

button {
  margin: 5px 0 3px 0;
  cursor: pointer;
  border: 2px solid white;
  color: white;
  background: none;
  font: inherit;
  font-weight: bold;
  outline: inherit;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.1);
  color: white;
  border: 2px double transparent;
  background-image:
    linear-gradient(#6305b0, #090916),
    radial-gradient(circle at left top, #f00, #fff000);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

footer {
  position: relative;
  top: 0;
  margin: 0 0 15px 0;
  padding: 15px;
  border: 2px solid black;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.bar {
  width: 40px;
  margin: 0 0 8px 0;
  border: 3px solid;
  background-color: black;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 35px;
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  gap: 30px;
  padding: 20px 0 20px 50px;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.mobile-menu {
  display: none;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.pokemons,
.about,
.mobile-pokemons,
.mobile-about {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.cancel {
  font-size: 80px;
  font-weight: 600;
  padding: 0 20px 0 0;
  cursor: pointer;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 5px 15px;
  border: 2px solid;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  width: 500px;
}

.nav-content-li {
  display: none;
}

.brand {
  margin: 0;
  font-size: 22px;
}

#modal-container {
  display: flex;
  justify-content: center;
}

#modal {
  display: none;
  width: 90vw;
  background-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet);
  justify-content: center;
  position: fixed;
  top: 10px;
  color: black;
  border-radius: 10px;
  text-align: center;
  overflow: auto;
  z-index: 10;
}

#modal img {
  width: 250px;
}

#cancel-btn {
  float: right;
  margin-right: 10px;
}

#modal #body {
  color: white;
  background-color: #1d1f26;
  padding: 0 20px 10px 20px;
}

#abilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
}

#abilities li {
  width: 150px;
  text-align: start;
}

.logo {
  height: 60px;
  width: 130px;
  object-fit: cover;
}

#modal #body #details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }

  .nav-content-li {
    display: flex;
  }

  .mobile-nav-menu {
    display: none;
  }

  .nav-ul {
    display: flex;
    padding: 0 10px 0 10px;
  }

  #modal {
    display: none;
    width: auto;
    position: fixed;
    top: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding-top: 25px;
    text-align: center;
    overflow-y: auto;
    z-index: 10;
  }

  #abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
  }

  #about #bio {
    font-size: 20px;
    font-weight: bold;
    padding: 100px;
    line-height: 20px;
  }

  #about #footer {
    padding: 5px 0 5px 0;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 0;
  }

  #about #footer a {
    width: 50px;
    height: 50px;
    border-bottom: 0;
  }

  .whatsmail {
    display: flex;
    align-items: center;
    border-bottom: 0;
  }
}